<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      
      <!--
      Example HTML Structure:
      
      <div class="message">
        <a href="" class="close"></a>
        <div class="from">
          Bob Saget
        </div>
        <div class="content">
          Well, hello there!
        </div>
        <div class="time">
          Oct 15, 2012 3:43 PM
        </div>
      </div>
      -->
      
      
      <!-- TODO: Add messages to the page -->
      
    </div>
  </body>
</html>
